.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.725000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.877000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.877000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.004000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.793000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.877000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.794000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lse{letter-spacing:-2.400000px;}
.lsa{letter-spacing:-1.726830px;}
.lsf{letter-spacing:-1.344000px;}
.ls5{letter-spacing:-1.288000px;}
.ls8{letter-spacing:-1.000000px;}
.ls7{letter-spacing:-0.896000px;}
.lsc{letter-spacing:-0.480000px;}
.lsb{letter-spacing:-0.425794px;}
.ls0{letter-spacing:-0.240000px;}
.lsd{letter-spacing:-0.144000px;}
.ls3{letter-spacing:0.000000px;}
.ls12{letter-spacing:0.096000px;}
.ls2{letter-spacing:0.336000px;}
.ls10{letter-spacing:0.480000px;}
.ls1{letter-spacing:0.560000px;}
.ls11{letter-spacing:0.720000px;}
.ls6{letter-spacing:0.840000px;}
.ls4{letter-spacing:1.680000px;}
.ls9{letter-spacing:3.665440px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws9{word-spacing:-3.665440px;}
.ws4{word-spacing:-1.680000px;}
.ws6{word-spacing:-0.840000px;}
.ws10{word-spacing:-0.720000px;}
.ws1{word-spacing:-0.560000px;}
.wsf{word-spacing:-0.480000px;}
.ws2{word-spacing:-0.336000px;}
.ws11{word-spacing:-0.096000px;}
.ws3{word-spacing:0.000000px;}
.wsc{word-spacing:0.144000px;}
.ws0{word-spacing:0.240000px;}
.wsb{word-spacing:0.480000px;}
.ws7{word-spacing:0.896000px;}
.ws8{word-spacing:1.000000px;}
.ws5{word-spacing:1.288000px;}
.wse{word-spacing:1.344000px;}
.wsa{word-spacing:1.726830px;}
.wsd{word-spacing:2.400000px;}
._3{margin-left:-5.905200px;}
._4{margin-left:-2.973600px;}
._2{margin-left:-1.671600px;}
._7{width:1.061200px;}
._1{width:2.091600px;}
._5{width:4.233600px;}
._0{width:66.906000px;}
._6{width:74.950000px;}
._8{width:141.670993px;}
._9{width:2904.385456px;}
._d{width:3749.760000px;}
._b{width:3753.216000px;}
._c{width:3755.568000px;}
._a{width:3758.400000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs6{font-size:23.655200px;}
.fs1{font-size:28.000000px;}
.fs7{font-size:29.161200px;}
.fs0{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs5{font-size:73.308800px;}
.fs2{font-size:84.000000px;}
.fs4{font-size:200.000000px;}
.y0{bottom:0.000000px;}
.y19{bottom:25.111300px;}
.y3{bottom:25.511700px;}
.y1{bottom:25.511800px;}
.y2{bottom:25.546800px;}
.y1b{bottom:26.933600px;}
.y1c{bottom:28.608681px;}
.y1a{bottom:35.687500px;}
.y15{bottom:76.535400px;}
.y14{bottom:93.335400px;}
.y13{bottom:101.735400px;}
.ya{bottom:293.840200px;}
.y9{bottom:317.843200px;}
.y8{bottom:341.846200px;}
.y7{bottom:365.849200px;}
.y6{bottom:389.852200px;}
.y5{bottom:413.855200px;}
.y4{bottom:437.858200px;}
.y12{bottom:489.362900px;}
.y11{bottom:513.365900px;}
.y10{bottom:537.368900px;}
.yf{bottom:561.371900px;}
.ye{bottom:585.374900px;}
.yd{bottom:609.377900px;}
.yc{bottom:633.380900px;}
.yb{bottom:657.383900px;}
.y16{bottom:699.582300px;}
.y20{bottom:719.386000px;}
.y1e{bottom:720.803200px;}
.y18{bottom:726.472600px;}
.y1f{bottom:727.786000px;}
.y1d{bottom:729.203200px;}
.y17{bottom:734.872600px;}
.h8{height:17.221632px;}
.h9{height:21.258629px;}
.h3{height:22.148000px;}
.h2{height:34.080000px;}
.h5{height:43.568000px;}
.h7{height:53.370811px;}
.h4{height:65.436000px;}
.h6{height:155.800000px;}
.h1{height:740.000000px;}
.h0{height:765.354000px;}
.w1{width:1190.500000px;}
.w0{width:1190.550000px;}
.x0{left:0.000000px;}
.x4{left:25.511200px;}
.xd{left:31.181200px;}
.xe{left:34.015900px;}
.x7{left:62.271500px;}
.x5{left:68.031300px;}
.x3{left:112.441000px;}
.x9{left:239.075700px;}
.x8{left:336.751000px;}
.xb{left:434.908200px;}
.x2{left:460.157500px;}
.xc{left:622.437500px;}
.x6{left:649.133800px;}
.xa{left:1037.706848px;}
.x1{left:1064.590900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lse{letter-spacing:-3.200000pt;}
.lsa{letter-spacing:-2.302439pt;}
.lsf{letter-spacing:-1.792000pt;}
.ls5{letter-spacing:-1.717333pt;}
.ls8{letter-spacing:-1.333333pt;}
.ls7{letter-spacing:-1.194667pt;}
.lsc{letter-spacing:-0.640000pt;}
.lsb{letter-spacing:-0.567725pt;}
.ls0{letter-spacing:-0.320000pt;}
.lsd{letter-spacing:-0.192000pt;}
.ls3{letter-spacing:0.000000pt;}
.ls12{letter-spacing:0.128000pt;}
.ls2{letter-spacing:0.448000pt;}
.ls10{letter-spacing:0.640000pt;}
.ls1{letter-spacing:0.746667pt;}
.ls11{letter-spacing:0.960000pt;}
.ls6{letter-spacing:1.120000pt;}
.ls4{letter-spacing:2.240000pt;}
.ls9{letter-spacing:4.887253pt;}
.ws9{word-spacing:-4.887253pt;}
.ws4{word-spacing:-2.240000pt;}
.ws6{word-spacing:-1.120000pt;}
.ws10{word-spacing:-0.960000pt;}
.ws1{word-spacing:-0.746667pt;}
.wsf{word-spacing:-0.640000pt;}
.ws2{word-spacing:-0.448000pt;}
.ws11{word-spacing:-0.128000pt;}
.ws3{word-spacing:0.000000pt;}
.wsc{word-spacing:0.192000pt;}
.ws0{word-spacing:0.320000pt;}
.wsb{word-spacing:0.640000pt;}
.ws7{word-spacing:1.194667pt;}
.ws8{word-spacing:1.333333pt;}
.ws5{word-spacing:1.717333pt;}
.wse{word-spacing:1.792000pt;}
.wsa{word-spacing:2.302439pt;}
.wsd{word-spacing:3.200000pt;}
._3{margin-left:-7.873600pt;}
._4{margin-left:-3.964800pt;}
._2{margin-left:-2.228800pt;}
._7{width:1.414933pt;}
._1{width:2.788800pt;}
._5{width:5.644800pt;}
._0{width:89.208000pt;}
._6{width:99.933333pt;}
._8{width:188.894657pt;}
._9{width:3872.513941pt;}
._d{width:4999.680000pt;}
._b{width:5004.288000pt;}
._c{width:5007.424000pt;}
._a{width:5011.200000pt;}
.fs6{font-size:31.540267pt;}
.fs1{font-size:37.333333pt;}
.fs7{font-size:38.881600pt;}
.fs0{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs5{font-size:97.745067pt;}
.fs2{font-size:112.000000pt;}
.fs4{font-size:266.666667pt;}
.y0{bottom:0.000000pt;}
.y19{bottom:33.481733pt;}
.y3{bottom:34.015600pt;}
.y1{bottom:34.015733pt;}
.y2{bottom:34.062400pt;}
.y1b{bottom:35.911467pt;}
.y1c{bottom:38.144909pt;}
.y1a{bottom:47.583333pt;}
.y15{bottom:102.047200pt;}
.y14{bottom:124.447200pt;}
.y13{bottom:135.647200pt;}
.ya{bottom:391.786933pt;}
.y9{bottom:423.790933pt;}
.y8{bottom:455.794933pt;}
.y7{bottom:487.798933pt;}
.y6{bottom:519.802933pt;}
.y5{bottom:551.806933pt;}
.y4{bottom:583.810933pt;}
.y12{bottom:652.483867pt;}
.y11{bottom:684.487867pt;}
.y10{bottom:716.491867pt;}
.yf{bottom:748.495867pt;}
.ye{bottom:780.499867pt;}
.yd{bottom:812.503867pt;}
.yc{bottom:844.507867pt;}
.yb{bottom:876.511867pt;}
.y16{bottom:932.776400pt;}
.y20{bottom:959.181333pt;}
.y1e{bottom:961.070933pt;}
.y18{bottom:968.630133pt;}
.y1f{bottom:970.381333pt;}
.y1d{bottom:972.270933pt;}
.y17{bottom:979.830133pt;}
.h8{height:22.962177pt;}
.h9{height:28.344838pt;}
.h3{height:29.530667pt;}
.h2{height:45.440000pt;}
.h5{height:58.090667pt;}
.h7{height:71.161081pt;}
.h4{height:87.248000pt;}
.h6{height:207.733333pt;}
.h1{height:986.666667pt;}
.h0{height:1020.472000pt;}
.w1{width:1587.333333pt;}
.w0{width:1587.400000pt;}
.x0{left:0.000000pt;}
.x4{left:34.014933pt;}
.xd{left:41.574933pt;}
.xe{left:45.354533pt;}
.x7{left:83.028667pt;}
.x5{left:90.708400pt;}
.x3{left:149.921333pt;}
.x9{left:318.767600pt;}
.x8{left:449.001333pt;}
.xb{left:579.877600pt;}
.x2{left:613.543333pt;}
.xc{left:829.916667pt;}
.x6{left:865.511733pt;}
.xa{left:1383.609130pt;}
.x1{left:1419.454533pt;}
}
